<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles3.css}"/>
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Document</title>
</head>

<body>
<div th:fragment="leftpane(group,teachers,students,loggedInUser,userTest,href)">
    <h5>Aktywni Użytkownicy</h5>
    <div class='UserWindow'>
        <div>
            <div id="gr-id" th:text="${loggedInUser.activeGroupId}" style="display: none;"></div>
            <div id="role" th:text="${loggedInUser.courseRole}" style="display: none;"></div>
            <div id="username" th:text="${loggedInUser.username}" style="display: none;"></div>

            <table id="username-table">
                <tr>
                    <th id="group-name" th:text="${group}"></th>
                </tr>
                <tr class="teacher-username" th:each="t : ${teachers}">
                    <td th:text="${t}"></td>
                    <td></td>
                </tr>
                <tr class="student-username" th:each="user : ${userTest}">
                    <td th:text="${user.username}">
                    <td>   <span class="" th:name="BadgeUserWindow"  th:style="${loggedInUser.courseRole==T(com.example.demo.register_login_logout.model.CourseRole).TEACHER ? 'display:block' : 'display:none' }"
                                 th:text=" ${user.Test_status} "
                                 th:id="BadgeUserWindow"
                                 th:classappend="${
                                  (user.Test_status=='no_test' ? 'badge badge-pill badge-secondary': '')
                                 +(user.Test_status=='gotowe' ? 'badge badge-pill badge-warning': '')
                                 +(user.Test_status=='w toku' ? 'badge badge-pill badge-info': '')
                                 +(user.Test_status=='zakończone' ? 'badge badge-pill badge-success': '')} ">

                </span></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="buttonUnderUserWindow">

        <div class="row"  th:id="ButtonStartTestJS" >
            <a th:href="${href}" class="btn btn-info"  th:name="ButtonStartTest" th:id="ButtonStartTest"
               th:style="${href != null ? 'display:block' : 'display:none'}" onclick="buttonStartTest()"
               th:text="${loggedInUser.courseRole==T(com.example.demo.register_login_logout.model.CourseRole).TEACHER ? 'Podgląd zadania' : 'Rozpocznij zadanie' }"
            ></a>
        </div>

        <div class="row"  th:id="ButtonTerminateTest" >
            <button class="btn btn-danger"  th:name="ButtonTerminateTest"
                    th:style="${(href != null and loggedInUser.courseRole==T(com.example.demo.register_login_logout.model.CourseRole).TEACHER) ? 'display:block' : 'display:none'}" onclick="buttonTerminateTest()"
            >Zakończ zadanie</button>
        </div>
        <div class="row">
            <a class="btn btn-info btn-block disabled" role="button" th:name="ButtonStartQuiz" th:id="ButtonStartQuiz"
               aria-disabled="true">Rozpocznij quiz</a>
        </div>

    </div>
</div>
</body>
</html>
