<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="hidden/css" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messenger.css}"/>

    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>MsgWindow</title>
</head>
<body>

<div th:fragment="msg_window(myTextArea,komunikator)">

    <div class="window" id="TableMsg">

        <div id="MessengerWindow">
            <div th:class="tablesMSG">
                <div class="row no-gutters" th:each="msg : ${myTextArea}">
                    <div class="col-2" th:id="date" th:text=" *{msg.localDateTime+' '}"></div>
                    <div class="col-sm-auto"
                         th:id="${msg.role==T(com.example.demo.register_login_logout.model.CourseRole).TEACHER ? 'loginTeacher' : 'loginStudent'}"
                         th:text="*{msg.login+': '}"></div>
                    <div class="col-7" th:id="textMSG" th:text="*{msg.text}"></div>
                </div>
            </div>
        </div>
        <span>
                                    <input id="input_tekst_for_window_okno" placeholder="Napisz coś..."
                                           type="text" th:field="${komunikator.text}">
                                     <input id="send" type="submit" th:value="Wyślij">
        </span>
    </div>
</div>
</body>
</html>