<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="rightpane(loggedInUser,nowaGrupa,wybierz_zadanie,listOfGrupa,listOfCategory,chosenCategoryIdQuizzes,newLessonContent)">

    <div>
        <h6 id="loggedInUser" th:text="${loggedInUser.getUsername()}" class="d-inline"></h6>

        <a th:href="@{/editUser}" class="edit-user-icon-gold d-inline"><i class="fas fa-user-edit"></i></a>
    </div>

    <div class='block'>
        <label for="groupSelect" class="select-label">AKTYWNA GRUPA</label>
        <select id='groupSelect' onchange="changeGroup()" class="group-select no-gutters">
            <option th:each="grupa : ${listOfGrupa}"
                    th:value="${grupa.id_grupa}"
                    th:text="${grupa.name}"
                    th:selected="${grupa.id_grupa == loggedInUser.activeGroupId}">
        </select>
    </div>

    <br>


    <h5>Zadanie
        <button class="badge badge-info" id="dodZad" autofocus>+</button>
    </h5>


    <div class="form-group3">

        <h6> Kategoria zadań
            <button class="badge  badge-info" id="dodKat" autofocus>+</button>
        </h6>
        <div>
            <form th:action="@{/showTasks}" th:object="${wybierz_zadanie}" method="get">
                <select th:name='kategoria' th:id='kategoria' th:field="*{kategoria}"
                        onchange=filltasklist();>
                    <option th:each="category : ${listOfCategory}"
                            th:text="${category.kategoria}"
                            th:value=" ${category.kategoria}"
                            th:selected="${category.kategoria==wybierz_zadanie.kategoria}"
                    ></option>
                </select>
                <div>
                    <button style="font-size: 0,8em; display: inline-block" th:type="submit"
                            class="btn btn-sm btn-info py-0" id="ButtonShowTasks">Pokaż zadania
                    </button>

                </div>
            </form>
        </div>

        <br>
        <h5>Quiz
            <button class="badge badge-info" id="add_quiz" autofocus>+</button>
        </h5>
        <form action="#" th:action="@{/showQuizzes}" th:object="${chosenCategoryIdQuizzes}" method="get">
            <div class="form-group3">
                <h6> Kategoria zadań</h6>
                <div>

                    <select th:name='kategoriaQ' th:id='kategoriaQ' th:field="*{category}">
                        <option th:each="category : ${listOfCategory}"
                                th:text="${category.kategoria}"
                                th:value=" ${category.kategoria}"
                        ></option>
                        <option th:text="ALL"
                                th:value="ALL"
                                selected></option>
                    </select>
                    <br>
                    <button id="ButtonShowQuizTasks" style="font-size: 0,8em; display: inline-block"
                            class="btn btn-sm btn-info py-0"
                            type="submit">Pokaż quizy z kategorii
                    </button>
                </div>
            </div>
        </form>
        <br>


        <h5>Pakiet Lekcyjny
            <button class="badge badge-info" id="add_lesson" autofocus>+</button>
        </h5>

        <div class="form-group3">
            <form action="#" th:action="@{/prepareLessonContent}" th:object="${newLessonContent}" method="post">
                <input type="text" placeholder="Nazwa pakietu" id="inputlekcja"
                       class="offset-3 form-control input-sm w-50 no-gutters">
            </form>

            <button id="buttonShowLessonPacks" style="font-size: 0,8em; display: inline-block"
                    class="btn btn-sm btn-info py-0"
                    type="submit">Pokaż pakiety lekcyjne
            </button>
        </div>
    </div>
    <div class="footer">
        <br>
        Copyright 2020 Konrad H., Martyna P., Jan A.
    </div>
</div>
</div>
</html>