<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles3.css}"/>

    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>test</title>
</head>

<body>


<div th:fragment="showSingleTestSTUDENT">
    <div class="row">
        <div class="offset-6 col-3">
            <a class="btn btn-success" th:href="@{/index}" onclick="buttonFinishTask()"
               th:name="ButtonStopTask" th:id="ButtonStopTask">Zakończ zadanie</a>
        </div>
        <div class="col-3">
            <a class="btn btn-info" onclick="goBack()"
               th:name="ButtonBackToShowTasks" th:id="ButtonBackToShowTasks">Wróc do listy zadań</a>
        </div>
    </div>
</div>
<div th:fragment="showSingleTestTEACHER">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-info" onclick="goBack()"
               th:name="ButtonBackToShowTasks" th:id="ButtonBackToShowTasks">Wróc do listy zadań</a>
        </div>
    </div>
</div>


<div th:fragment="wskazowkirozwiazanieSTUDENT(task)">

    <div class="row">
        <div class="col-4 LABEL CELL">
            <label id="labelWskazowka" th:for='wskazowkaS' th:style="'display : none'"> <b> Wskazówka do
                zadania:</b></label></div>

        <div class="col offset-1 w-75">
            <b><p class="text-break" th:name='wskazowkaS' th:id='wskazowkaS' type="text"
                  th:text="${task.wskazowka}" th:style="'display : none'"
            ></p></b>
        </div>
    </div>
    <div class="row">
        <div class="col-4 LABEL CELL">
            <label id="labelRozwiazanie" th:for='rozwiazanie_zadaniaS' th:style="'display : none'"><b> Rozwiązanie
                zadania:</b></label></div>

        <div class="col offset-1 w-75">
            <b><p class="text-break" th:name='rozwiazanie_zadaniaS' th:id='rozwiazanie_zadaniaS' type="text"
                  th:text="${task.rozwiazanie_zadania} " th:style="'display : none'"
            ></p></b>
        </div>
    </div>
</div>
<div th:fragment="wskazowkirozwiazanieTEACHER(task)">
    <div class="row">
        <div class="col-4 LABEL CELL">
            <label th:for='wskazowka'> <b> Wskazówka do zadania:</b></label></div>

        <div class="col offset-1 w-75">
            <b><p class="text-break" th:name='wskazowka' th:id='wskazowka' type="text"
                  th:text="${singleTask.wskazowka}"
            ></p></b>
        </div>
    </div>

    <div class="row">
        <div class="col-4 LABEL CELL">
            <label th:for='rozwiazanie_zadania'><b> Rozwiązanie zadania:</b></label></div>

        <div class="col offset-1 w-75">
            <b><p class="text-break" th:name='rozwiazanie_zadania' th:id='rozwiazanie_zadania' type="text"
                  th:text="${singleTask.rozwiazanie_zadania}"
            ></p></b>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input th:class="form-check-input" th:type="checkbox"
                   th:name="wskazowkaCheckBox"
                   th:id="wskazowkaCheckBox"
                   th:value="${singleTask.wskazowka}"
                   onclick="TriggerTipOrAnswer()">
            <label th:for='wskazowkaCheckBox'> Pokaż wskazówkę studentom</label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">

            <input th:class="form-check-input" th:type="checkbox"
                   th:name="rozwiazanieCheckBox"
                   th:id="rozwiazanieCheckBox"
                   th:value="${singleTask.rozwiazanie_zadania}"
                   onclick="TriggerTipOrAnswer()">
            <label th:for='rozwiazanieCheckBox'> Pokaż rozwiązanie studentom</label>
        </div>
    </div>
</div>


</body>
</html>
