<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="containerFormularzNowegoZadania" id='formularz_nowego_zadania' style="display:block;">
        <form th:action="@{/addtask}" th:object="${noweZadanie}" th:method="post" id="form3">
            <h4 style="color: black"> Formularz nowego zadania</h4>
            <div class="row">
            </div>
            <div class="row">

                <div class="col-4 LABEL CELL">
                    <label th:for="input.idgrupa"> Wybierz grupę:</label></div>
                <div class="col-4 LABEL CELL">
                    <label th:for="input.kategoria"> Wybierz kategorię:</label></div>
            </div>

            <div class="row">
                <div class="col-4 INPUT CELL">
                    <select id='GroupSelectNoweZadanie' th:field="*{idgrupa}" >
                        <option th:each="grupa : ${listOfGrupa}" th:value="${grupa.id_grupa}"
                                th:text="${grupa.name}">
                    </select>
                </div>

                <div class="col-4 INPUT CELL">
                    <select id='CategorySelectNoweZadanie' th:field="*{kategoria}" >
                        <option th:each="category : ${listOfCategory}" th:value="${category.kategoria}"
                                th:text="${category.kategoria}">
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-4 LABEL CELL">
                    <label th:for="*{'tresc_zadania'}"> Dodaj treść zadania:</label></div>
                <div class="col-8 form-group">
                    <input th:name="*{'tresc_zadania'}" th:id="*{'tresc_zadania'}" type="text"
                           th:value="${trescX==null}?*{tresc_zadania}: ${trescX}"
                           placeholder="Podaj treść zadania.."
                           class="form-control" rows="3">
                </div>
            </div>
            <div class="row">
                <div class="col-4 LABEL CELL">
                    <label th:for="*{'rozwiazanie_zadania'}"> Dodaj rozwiązanie zadania:</label></div>
                <div class="col-8 INPUT CELL">
                    <input th:name="*{'rozwiazanie_zadania'}" th:id="*{'rozwiazanie_zadania'}" type="text" th:value="${rozwiazanie==null}?*{rozwiazanie_zadania}: ${rozwiazanie}"
                           placeholder="Podaj rozwiązanie zadania.."
                           class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-4 LABEL CELL">
                    <label th:for="*{'wskazowka'}"> Dodaj wskazówkę do zadania:</label></div>
                <div class="col-8 INPUT CELL">
                    <input th:name="*{'wskazowka'}" th:id="*{'wskazowka'}" type="text" th:value="${wskazowka==null}?*{wskazowka}: ${wskazowka}"
                           placeholder="Podaj wskazowkę zadania.."
                           class="form-control">
                </div>
            </div>


            <div class="row">
                <input id="wyslijtekst3" type="submit" class="offset-6 col-2 btn btn-info" value="Dodaj"
                       form="form3">
                <input id="resettekst" type="reset" class="col-2 btn btn-warning offset-1" value="Wyczyść">

            </div>

        </form>
    </div>
</th:block>

