<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">

    <div class="containerFormularzEdycjiZadania" id='formularz_nowego_zadania' style="display:block;">

        <form action="#" th:action="@{${#request.getRequestURI()}(id=${#request.getParameter('id')})}" th:object="${singleTask}" method="post">
            <h2> Edycja zadania</h2>
            <div th:text="${loggedInUser.username}"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <h5 th:text="'#'+${singleTask.idPracyDomowej}"></h5></div>
                </div>
            </div>
            <div class="form-group">

                <div class="row">
                    <div class="col-3 LABEL CELL">
                        <label th:for="kategoria"> Edytuj kategorię:</label>
                    </div>

                    <div class="col-3 INPUT CELL">
                        <select id='kategoria' name='kategoria' th:field="${singleTask.kategoria}">
                            <option th:each="category : ${listOfCategory}" th:value="${category.kategoria}"
                                    th:text="${category.kategoria}"
                                    th:selected="${category.kategoria==singleTask.kategoria}">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label th:for='tresc_zadania'><b>Treść zadania:</b> </label></div>
                    <div class="col-9">
                        <input class="form-control text-break" th:name='tresc_zadania' th:id='tresc_zadania'
                               type="text"
                               th:value="*{tresc_zadania}">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label th:for='rozwiazanie_zadania'><b> Rozwiązanie zadania:</b></label></div>
                    <div class="col-9">
                        <input class="form-control text-break" th:name='rozwiazanie_zadania'
                               th:id='rozwiazanie_zadania'
                               type="text"
                               th:value="*{rozwiazanie_zadania}">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <label th:for='wskazowka'> <b> Wskazówka do zadania:</b></label></div>
                    <div class="col-9">
                        <input class="form-control text-break" th:name='wskazowka' th:id='wskazowka' type="text"
                               th:value="*{wskazowka}"></div>
                </div>
            </div>
            <div class="row">
                <input id="wyslij" type="submit" class="offset-4 col-2 btn btn-success" value="Zatwierdź">
                <div class="offset-1 col-3">
                    <a class="btn btn-info" onclick="goBack()"
                       th:name="ButtonBackToShowTasks" th:id="ButtonBackToShowTasks">Wróc do listy zadań</a>
                </div>
            </div>
        </form>
    </div>

</th:block>