<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">


<th:block layout:fragment="content">

    <div class="containerFormularzNowegoZadania" id='formularz_nowego_zadania' style="display:block;">

        <form action="#" th:action="@{${#request.getRequestURI()}(id=${#request.getParameter('id')})}" th:object="${singleTask}" method="post">
            <h2> Zadanie</h2>
            <div th:text="${loggedInUser.username}"></div>
            <div class="row">
                <div class="col-2 LABEL CELL">
                    <h5 th:text="'#'+${singleTask.idPracyDomowej}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-4 LABEL CELL">
                    <label th:for='tresc_zadania'><b>Treść zadania:</b> </label></div>

                <div class="col offset-1 w-75">
                    <b><p class="text-break" th:name='tresc_zadania' th:id='tresc_zadania' type="text"
                          th:text="${singleTask.tresc_zadania}"
                    ></p></b>
                </div>
            </div>
            <div th:replace="${loggedInUser.courseRole==T(com.example.demo.register_login_logout.model.CourseRole).TEACHER} ?~{fragments_index/showSingleTask:: wskazowkirozwiazanieTEACHER(${singleTask})}: ~{fragments_index/showSingleTask:: wskazowkirozwiazanieSTUDENT(${singleTask})} "></div>


        </form>

            <div th:replace="${loggedInUser.courseRole==T(com.example.demo.register_login_logout.model.CourseRole).STUDENT} ? ~{fragments_index/showSingleTask:: showSingleTestSTUDENT}  : ~{fragments_index/showSingleTask:: showSingleTestTEACHER} "></div>



    </div>

</th:block>

<th:block layout:fragment="script">
    <script src="js/singleTest.js"></script>
</th:block>