<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">

<th:block layout:fragment="content">
    <div class="containerTests" id='preTasks' style="display:block;">
        <div th:switch="${listOfPreSelectedTasks}" class="container my-10">
            <div class="row">
                <div class="col-md">
                    <h2 th:case="null">Nie ma jeszcze testów!</h2>
                    <div th:case="*">
                        <h3>Zadania</h3>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <div th:class="tables">
                                <div th:each="task:${listOfPreSelectedTasks}">
                                    <table th:id="tasksJS" class="table table-bordered table-striped mb-0">
                                        <thead class="thead-light">
                                        <tr>
                                            <th style="width: 10%">#</th>
                                            <th style="width: 20%">Kategoria</th>
                                            <th style="width: 30%">Modyfikacja</th>
                                            <th style="width: 40%">Wybierz</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:name='idPracyDomowej' th:id="idPracyDomowej"
                                                                                          th:text="${task.idPracyDomowej}"></td>
                                            <td th:name='cell12' th:id="cell12"
                                                th:text="${task.kategoria}"></td>
                                            <td th:id="cell7"><a th:href="@{/edittest(id=${task.idPracyDomowej})}"
                                                   class="d-inline btn btn-sm btn-rounded "
                                                   th:name="ButtonEditTest" th:id="ButtonEditTest">Edytuj zadanie</a>

                                                <a th:href="@{/deletetest(id=${task.idPracyDomowej})}"
                                                   class="d-inline btn btn-sm btn-warning btn-rounded"
                                                   th:name="ButtonDeleteTest" th:id="ButtonDeleteTest">Usuń zadanie</a>
                                            </td>

                                            <td th:id="cell8">
                                                <div th:replace="${loggedInUser.courseRole==T(com.example.demo.register_login_logout.model.CourseRole).TEACHER} ?~{fragments_index/showTasks:: showTasks} : ~{fragments_index/showTasks:: showTasksStudents} "  ></div>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                    <table th:id="tableWithTests" class="table table-bordered table-striped mb-0">
                                        <tr>
                                            <th style="width: 25%" th:name='cell0' th:id='cell0'>Treść zadania</th>
                                            <td style="width: 75%" th:name='cell1' th:id='cell1' id="tresc_zadania"
                                                th:text="${task.tresc_zadania}"></td>
                                        </tr>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

