.edit-user-icon-gold{
    color: #C0AB96 !important;
    background-color: #1F2434 ;
    padding: 10px;
    border-radius: 10%;
    font-size: 16px;
}

delete-icon{
    color: white;
    background-color: #e79f9d ;
    font-size: 16px;
}

.select-label{
    font-size: 10px;
    text-align: left;
    width: 100%;
}

.group-select{
    width: 100%;
}