body, html {
    height: 100vh;
    width: 100%;
    margin: 0 0;
    color: #C0AB96;
    background-color: #1F2434;
}
.toppane {
    width: 100%;
    height: 6vh;
    border-collapse: collapse;
    background-color: white;
    color: #1F2434;
    text-align: center;
    margin: 0;
}
.container-fluid{

    margin: 0 0 0 0 ;
    padding: 0 0;

}

#teaser{
    position: relative;
    top: 5vh;
    height: 10vh;
    text-align: center;
}
#opis,#opis3{
     text-justify: inter-word;
     text-align: justify;
     padding: 6vh;
 }

#opis3{
    text-justify: inter-word;
    text-align: justify;
    padding: 12vh 6vh 6vh 18vh;
}
#opis2{
    text-justify: inter-word;
    text-align: justify;
    padding: 6vh 6vh 6vh 9vh;
}
.middlepane{
    border-collapse: collapse;
    height: 170vh;
    width: 100%;
    background-image: url('/img/menuWallpaper.jpg')!important;
    background-size: cover;
    background-repeat: repeat ;
    margin: 0;
}
#cell1,#cell2{
    margin-right: 0!important;
}
#indexIMG{
    height: 44vh;
    margin-top: 3vh;
    margin-right: 3vh;
    background-image: url('/img/menu/index.png')!important;
    background-size: cover;
    background-repeat: no-repeat ;
    margin-bottom: 3vh;
}

#firstBox{
    background-color: white;
    height: 50vh;
    position: relative;
    color: #1d2124;
}
.shadowBox{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4) !important;
    z-index: 999;
}
#secondBox{
    background-color: white;
    height: 50vh;
    position: relative;
    color: #1d2124;
}
#indexIMG2{
     height: 44vh;
     margin-top: 3vh;
     margin-left: 3vh;
     background-image: url('/img/menu/listaZadan.png')!important;
     background-size: cover;
     background-repeat: no-repeat ;
 }

#shadow {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4) !important;
    z-index: 9999;
}

#thirdBox{
    background-color: white;
    height: 50vh;
    position: relative;
    color: #1d2124;
}
#indexIMG3{
    height: 44vh;
    margin-top: 3vh;
    margin-right: 3vh;
    background-image: url('/img/menu/quiz.png')!important;
    background-size: cover;
    background-repeat: no-repeat ;
}



