#date {
    padding-top: 0.5%;
    text-align: center;
    color: #95999c;
    font-size: 70%;
}

#loginTeacher {
    padding-top: 0.3%;
    text-align: center;
    color: #117a8b;
    margin-right: 1%;
    height: 10%;
    font-size: 80%;
}
#loginStudent {
    padding-top: 0.3%;
    text-align: center;
    color: rebeccapurple;
    height: 10%;
    margin-right: 1%;
    font-size: 80%;
}
#textMSG {
    text-align: left;

    height: 10%;
}

input[name=text] {
    background: white;
    width: 48rem;
}


.window {
    position: absolute;
    top: 70vh;
    left: 50%;
    margin-left: -26rem;
}

#MessengerWindow {
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    background-color: white !important;
    color: black;
    border-radius: 1rem;
    margin: 3px 0;
    height: 20vh;

}