<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="containerFormularzNowegoZadania" id='new_quiz_form'>

        <form action="#" th:action="@{/addQuiz}" th:object="${newQuiz}" th:method="POST" style="height: 100%">
            <div style="width: 100%;height: 100%;align-content: center">
                <h4 style="color: black">Dodaj nowy quiz</h4>
                <table style="width: 100%">
                    <tr>
                        <td style="width: 20%">
                            <label th:for='kategoria'> Wybierz kategorię:</label>
                        </td>
                        <td style="width: 80%">
                            <select th:name='kategoria' th:id='kategoria' th:field="*{categoryId}" class="form-control">
                                <option th:each="category : ${listOfCategory}"
                                        th:text="${category.kategoria}"
                                        th:value=" ${category.id_kategoria}"
                                ></option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='question'>Dodaj pytanie:</label>
                        </td>
                        <td>
                    <textarea th:class="form-control " th:name='question' th:id='question' type="text"
                              th:field="*{question}"
                              class="form-control" rows="2">
                    </textarea>
                        </td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <thead>
                    <tr>
                        <th style="width: 20%"></th>
                        <th style="width: 60%;text-align: left">Podaj odpowiedź:</th>
                        <th style="width: 20%">Zaznacz jeśli jest poprawna</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label th:for='answer_A'>A:</label>
                        </td>
                        <td>
                            <input th:class="form-control " th:name='answer_A' th:id='answer_A' type="text"
                                   th:field="*{answerA}"
                                   class="form-control">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{isAnswerACorrect}" id="is_answer_A_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_B'>B:</label>
                        </td>
                        <td>
                            <input th:class="form-control " th:name='answer_B' th:id='answer_B' type="text"
                                   th:field="*{answerB}"
                                   class="form-control">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{isAnswerBCorrect}" id="is_answer_B_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_C'>C:</label>
                        </td>
                        <td>
                            <input th:class="form-control " th:name='answer_C' th:id='answer_C' type="text"
                                   th:field="*{answerC}"
                                   class="form-control">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{isAnswerCCorrect}" id="is_answer_C_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_D'>D:</label>
                        </td>
                        <td>
                            <input th:class="form-control " th:name='answer_D' th:id='answer_D' type="text"
                                   th:field="*{answerD}"
                                   class="form-control">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{isAnswerDCorrect}" id="is_answer_D_correct">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="width: 100%">
                    <input id="send_task" type="submit" value="Dodaj quiz" class="btn btn-info"
                           style="width: 60%;margin-top: 20px">
                </div>
                <div>
                    <p th:if="${#fields.hasErrors()}" class="login-info-message">Pola nie mogą być puste</p>
                </div>
            </div>
        </form>
    </div>

</th:block>