<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="containerFormularzNowegoZadania" id='new_quiz_form'>

        <div style="width: 100%;height: 100%;align-content: center">
            <table style="width: 100%">
                <thead>
                <tr>
                    <th style="width: 10%"></th>
                    <th style="width: 90%" th:text="${quiz.question}">
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>A:</td>
                    <td th:text="${quiz.answers[0].answer}" id="a"
                        th:style="${quiz.answers[0].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                </tr>
                <tr>
                    <td>B:</td>
                    <td th:text="${quiz.answers[1].answer}"
                        th:style="${quiz.answers[1].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                </tr>
                <tr>
                    <td>C:</td>
                    <td th:text="${quiz.answers[2].answer}"
                        th:style="${quiz.answers[2].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                </tr>
                <tr>
                    <td>D:</td>
                    <td th:text="${quiz.answers[3].answer}"
                        th:style="${quiz.answers[3].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                </tr>
                </tbody>
            </table>

            <table style="width: 100%" th:id="studentsResults">

                <tr>
                    <th style="width: 30%">Student</th>
                    <th style="width: 10%">A</th>
                    <th style="width: 10%">B</th>
                    <th style="width: 10%">C</th>
                    <th style="width: 10%">D</th>
                    <th style="width: 30%">Result</th>
                </tr>
                <tr th:each="quizResults : ${quizResultsAllStudents}">
                    <td th:text="${quizResults.username}"></td>
                    <td th:unless="${quizResults.answerA == null}"
                        th:style="${quizResults.answerA ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                    <td th:unless="${quizResults.answerA == null}"
                        th:style="${quizResults.answerB ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                    <td th:unless="${quizResults.answerA == null}"
                        th:style="${quizResults.answerC ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                    <td th:unless="${quizResults.answerA == null}"
                        th:style="${quizResults.answerD ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                    <td th:unless="${quizResults.answerA == null}" th:text="${quizResults.result}?'OK':'NOPE'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                </tr>

            </table>
            <div>
                <a th:href="@{/endQuiz(id=${quiz.id})}" class="btn btn-info button-lg btn-block" th:name="buttonEndQuiz"
                   th:id="buttonendQuiz">Zakończ quiz</a>
            </div>
            <!--                <div style="width: 100%">-->
            <!--                    <input id="send_task" type="submit" value="OK" class="btn btn-info" style="width: 60%;margin-top: 20px">-->
            <!--                </div>-->

        </div>

    </div>

</th:block>