<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="containerTests" id='preTasks' style="display:block;">

        <div th:switch="${allQuizzes}" class="container my-10">
            <div class="row">
                <div class="col-md">
                    <h2  th:text="${categoryName}"></h2>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <div th:class="tables">
                            <div th:each="quiz:${allQuizzes}" style="margin-bottom: 20px" >
                                <table th:id="tasksJS" class="table table-bordered table-striped mb-0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="width: 5%">#</th>
                                        <th style="width: 15%">Kategoria</th>
                                        <th style="width: 20%">Autor</th>
                                        <th style="width: 60%"></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:name='idQuiz' th:id="idQuiz"
                                            th:text="${quiz.id}"></td>
                                        <td th:name="categoryName" th:id="categoryName"
                                            th:text="${quiz.category.kategoria}"></td>
                                        <td th:name='author' th:id="author"
                                            th:text="${quiz.author.username}">
                                        </td>
                                        <td>
                                            <a th:href="@{/shareQuiz(id=${quiz.id})}" class="btn btn-info"
                                               th:name="ButtonChosenQuizShare" th:id="ButtonChosenQuizShare"
                                                data-toggle="tooltip" title="Udostępnij uczniom"><i class="fas fa-share-square"></i></a>
                                            <a th:href="@{/addQuizToLesson(id=${quiz.id})}"
                                               th:class="${loggedInUser.isPreparingLessonContent}? 'btn btn-info':'btn btn-info disabled'"
                                               th:name="ButtonChosenQuizToLesson" th:id="ButtonChosenQuizToLesson"
                                                data-toggle="tooltip" title="Dodaj do lekcji"><i class="fas fa-book"></i></a>
                                            <a th:href="@{/addQuizToFavourites(id=${quiz.id})}"
                                               th:class="${loggedInUser.isPreparingLessonContent}? 'btn btn-info':'btn btn-info disabled'"
                                               th:name="ButtonChosenQuizFavourite" th:id="ButtonChosenQuizFavourite"
                                                title="Dodaj do ulubionych"><i class="far fa-star"></i></a>
                                            <a style="margin-left: 10px; margin-right: 10px">|</a>
                                            <a th:href="@{/editQuiz(id=${quiz.id})}" class="btn btn-info"
                                               th:name="ButtonChosenQuizToEdit" th:id="ButtonChosenQuizToEdit"
                                               data-toggle="tooltip" title="Edytuj"><i class="fas fa-edit"></i></a>
                                            <a th:href="@{/deleteQuiz(id=${quiz.id})}" class="btn btn-danger delete-icon"
                                               th:name="ButtonChosenQuizToDelete" th:id="ButtonChosenQuizToDelete"
                                               data-toggle="tooltip" title="Usuń"><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table th:id="quiz_table" class="table table-bordered table-striped mb-0">
                                    <tr>
                                        <th style="width: 5%" >
                                            <a role="button" data-toggle="collapse" th:href="'#collapseAnswers' + ${quiz.id}"
                                             aria-expanded="false" aria-controls="collapseAnswers">
                                                <i class="fas fa-chevron-down"></i></a></th>
                                        <th style="width: 15%">Pytanie:</th>
                                        <td style="width: 80%" th:name='question' th:id='question'
                                            th:text="${quiz.question}"></td>
                                    </tr>
                                </table>
                                <div class="collapse" th:id="'collapseAnswers' + ${quiz.id}">
                                    <table class="table table-bordered table-striped mb-0" >
                                        <tr>
                                            <th style="width: 5%"
                                                th:style="${quiz.answers.get(0).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }"></th>
                                            <th style="width: 15%">A:</th>
                                            <td style="width: 80%" th:name='answer_a' th:id="answer_a"
                                                th:text="${quiz.answers.get(0).answer}"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 5%"
                                                th:style="${quiz.answers.get(1).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }"></th>
                                            <th style="width: 15%">B:</th>
                                            <td style="width: 80%" th:name='answer_b'
                                                th:id="answer_b" th:text="${quiz.answers.get(1).answer}"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 5%"
                                                th:style="${quiz.answers.get(2).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }"></th>
                                            <th style="width: 15%">C:</th>
                                            <td style="width: 80%" th:name='answer_a' th:id="answer_a"
                                                th:text="${quiz.answers.get(2).answer}"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 5%"
                                                th:style="${quiz.answers.get(3).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }"></th>
                                            <th style="width: 15%">D:</th>
                                            <td style="width: 80%" th:name='answer_b'
                                                th:id="answer_b" th:text="${quiz.answers.get(3).answer}"></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</th:block>