<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration Page</title>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles3.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">

            <div class="form-register-container">
                <form   action="#" th:action="@{${#request.getRequestURI()}}" th:object="${user}" method="post">
                    <table class="reg-table">
                        <tr>
                            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="login-info-message" >Username Error</td>
                        </tr>
                        <tr>
                            <td class="form-label-group"><input type="email" th:field="*{username}"class="form-control"
                                                                placeholder="Email" required></td>
                        </tr>
                        <tr>
                            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="login-info-message">Password Error</td>
                            <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="login-info-message">Password Error</td>
                        </tr>
                        <tr>
                            <td class="form-label-group"><input type="password" th:field="*{password}" class="form-control"
                                                                placeholder="Password" required minlength="8"></td>
                        </tr>
                        <tr>
                            <td class="form-label-group"><input type="password" th:field="*{passwordConfirm}" class="form-control"
                                                                placeholder="Confirm password" required minlength="8"></td>
                        </tr>

                        <tr>
                            <td class="form-label-group">
                                <select id='Trener_kursant' th:field="*{courseRole}" class="form-control">
                                    <option th:text="${roles[0]}" th:value="${roles[0]}" th:selected="${user.getCourseRole() == roles[0]}"></option>
                                    <option th:text="${roles[1]}" th:value="${roles[1]}" th:selected="${user.getCourseRole() == roles[1]}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td th:if="${#fields.hasErrors('groupIds')}" th:errors="*{groups}" class="login-info-message">Groups Error</td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="list-unstyled">
                                    <li th:each="group : ${availableGroups}">
                                        <input type="checkbox" class="form-check-input position-static" th:value="${group.id_grupa}"
                                               id="available_groups" name="grps" th:checked="${#lists.contains(user.getGroupIds(),group.id_grupa)}">
                                        <label  for="available_groups" th:text="${group.name}"></label>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit">Save</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a th:href="@{/index}" class="btn btn-lg btn-danger btn-block btn-login text-uppercase font-weight-bold mb-2"
                                >Cancel</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div class="col-sm"></div>
    </div>
</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>