<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>

    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messenger.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/showTest.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}"/>
    <script src="https://kit.fontawesome.com/714c995d82.js" crossorigin="anonymous"></script>

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

</head>

<body>
<div class="container-fluid">

    <div class="container-fluid">

        <div class="toppane">
            <div th:replace="fragments/header_index :: header">...</div>
        </div>

        <div class="leftpane">
            <div th:replace="fragments_index/leftpane:: leftpane(${allLogins.groupName},${allLogins.teachers},
            ${allLogins.students},${loggedInUser},${allLogins.usertest},${href})"></div>
        </div>

        <div class="middlepane">
            <div th:replace="fragments_index/alert:: fr_allert"></div>

            <section layout:fragment="content"></section>

            <div th:replace="fragments_index/messengerWindow:: msg_window(${wyswtekst},${komunikator})"></div>
        </div>

        <div class="rightpane">
            <div th:replace="fragments_index/rightpane:: rightpane(${loggedInUser},${nowaGrupa},${wybierz_zadanie},
            ${listOfGrupa},${listOfCategory},${chosenCategoryIdQuizzes},${newLessonContent})"></div>
        </div>

    </div>

</div>

<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/sockjs-client/1.1.1/sockjs.min.js"></script>
<script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="js/app.js"></script>
<script src='js/index2.js'></script>
<script src="js/showListOfTask.js"></script>

<section layout:fragment="script"></section>

</body>

</html>