<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
</head>
<body>
<main>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Logowania do SDA Assignment</h3>
                                <p th:if="${loginError}" class="error login-info-message">Błędne dane logowania</p>
                                <p th:if="${param.logout}" class="login-info-message">Zostałeś wylogowany</p>
                                <form action="#" th:action="@{/login}" class="form-signin"   method="post" id="form1">

                                    <div class="form-label-group">
                                        <label for="username" class="sr-only" >Username</label>
                                        <input type="email" id="username" name="username" class="form-control"
                                               placeholder="Username" required=""/>
                                    </div>

                                    <div class="form-label-group">
                                        <label for="password" class="sr-only">Password</label>
                                        <input type="password" id="password" name="password" class="form-control"
                                               placeholder="Password" required=""/>
                                    </div>

                                    <button id="zaloguj" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                             type="submit"  >Zaloguj się
                                    </button>

                                    <div class="text-center">
                                        <a class="small" href="/form">Zarejestruj się</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src='js/login.js'></script>
</body>
</html>